/* main */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* login */
.wrapper {
    margin: auto;
    width: 360px;
    padding: 30px;
}

.maintxt {
    width: 1000px;
    height: 217px;
    left: 440px;
    background-image: url(../img/loginhaarlem.png);
    background-position: center;
    color: white;
    font-style: bold;
    font-size: 50px;
    text-align: center;
}

/* navigation bar */ 


/**/